<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body style="font-family: Arial; text-align: center; margin-top: 100px;">
    <h2>Login Form</h2>
    <form action="/login" method="POST">
      <label>Username:</label>
      <input type="text" name="username" required><br><br>
      <label>Password:</label>
      <input type="password" name="password" required><br><br>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
